/*Variables*/
* {
    font-family: "Original Surfer", sans-serif;
}

:root{
    --main-bg-color: rgb(211, 255, 211);
    --main-text-color: black;
}


#bar{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

#hero{
    /* background-color: var(--main-bg-color); */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url("assets/background-img.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
}

#title{
    font-family: "Original Surfer", sans-serif;
    font-size: 100px;
    color: var(--main-text-color);
    margin-bottom: 10px;

    /*-------*/
}

#subtitle{
    font-family: "Original Surfer", sans-serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

body{
    background-image: url("https://i.pinimg.com/736x/61/27/5c/61275ca3faba1aa9cff2bf5b7d56ad72.jpg");
    background-size: cover;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
}

#get-started-btn{
    background-color: rgb(172, 207, 144);
    color: white;
    border-radius: 5px;
    border: 5px solid rgb(233, 157, 192);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Original Surfer", sans-serif;
    font-size: 16px;
}

img{
    margin-bottom: -100px;
    margin-top: -15px;
}