* {
    font-family: "Original Surfer", sans-serif;
}


body{
    background-image: url("https://i.pinimg.com/1200x/cc/6d/9d/cc6d9dc12fe95b534daaef328c7b0426.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    min-height: 100vh;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 6px 8px 6px rgba(254, 150, 199, 0.705);
    align-content: center;
    text-align: center;
    margin-top: 250px;
    text-shadow: 2px 2px 4px rgba(247, 157, 194, 0.79);
}

#height, #weight {
   font-family: "Original Surfer", sans-serif;
    font-size: 16px;
}

#submit {
    background-color: rgb(172, 207, 144);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    border: 5px solid rgb(233, 157, 192);
    cursor: pointer;
    font-family: "Original Surfer", sans-serif;
    font-size: 16px;
}

