.original-surfer-regular {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body{
    background-image: url("https://i.pinimg.com/1200x/da/2b/68/da2b68240eb4d66afcfb13d40cd2ec76.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    min-height: 100vh;
}

#dashboard-title {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.674);
    text-align: center;
    align-content: center;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgba(226, 255, 189, 0.7);
}
